*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-family:Arial,sans-serif;
}
.wrapper{
   padding:5px 10px 0 10px;
   text-align: center;
   box-shadow:inset 0 5px #fae851;
}
.diamond{
    width: 8px;
    height: 8px;
    margin: 5px auto;
    background:#fae851;
    transform: rotate(45deg);
    position: relative;
    top: -9px;
}
.creative{
	display:flex;
	justify-content: center;
	margin: auto;
}
.btn{
    width:115px;
	height:30px;
	line-height:30px;
	border-radius:5px; 
	background:#fae851;  
}
.pen {
	width: 20px;
    height: 20px;
    padding: 0px 20px;
	background-image:url(../images/spritesheet.png);
	background-position: -952px -335px;
}
.money {
	width: 20px;
    height: 20px;
    padding: 0 20px;
    background-image:url(../images/spritesheet.png);
    background-position: -776px -551px;
}
.pen p,.money p{
	padding:0 10px;
}
.creative a{
	text-decoration:none;
	font-size:14px;
	color:#433939;
	font-weight:bold;
	margin: 0 10px;
}
.sprite{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}
.social{
    width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #0193e9;
	margin:20px;
	
}
.social,.social1{
	display: flex;
}
.vk,.od,.fb{
	width: 20px;
    height: 20px;
    padding:5px;
    background-image:url(../images/spritesheet.png);
}
.vk{
	background-position: -736px -766px;

}
.od{
	background-position:-995px -552px;
}
.fb{
	
	background-position: -522px -94px;
}
.kontakt{
	display:flex;
	justify-content:center;
	margin:0 auto;
}

.kontakt a{
	
		
}
.skype,.icq,.email,.call-me-back{
    width:20px;
    height:20px;
    margin:0 auto;
	background-image:url(../images/spritesheet.png);
}
.skype{
    background-position: -100px -772px;
}
.icq{
    background-position: -532px -314px;
}
.email{
    background-position: -100px -100px;
    
}
.call-me-back{
	 background-position: -534px -772px;
}

.account{
	margin:20px 0;
}
.account p{
	font-size:12px;
    color:#676767;
    padding:10px 10px;
}
.account p>a{
	font-size:12px;
    color:#0193e9;
    padding:0 5px;
}
.kyivstar{
	text-decoration:none;
    border-bottom: 1px dashed #0193e9;
}
.logo{
	margin:20px 0;
}
.logo h1>span{
	font-size:67px;
	font-weight:bold;
}
.logo span{
	font-size:12px;
	/*color:#676767;*/
	padding:10px;
}
.design{
    color:#0193e9;
}
.design_bg{
    color:#f4cf23;
}
.border{
	width:55px;
	border-bottom:2px solid #000000;
	margin:0 auto; 
}
.buy{

}
.buy_bg{
	display:flex;
   justify-content:center;
	margin:20px 0;
}
.buy_bg a{
	display:flex;
	font-size:12px;
    color:#0193e9;

}
.basket,.like{
    width:20px;
    height:20px;
    margin:0 auto;
	background-image:url(../images/spritesheet.png);
}
.basket{

    background-position: -748px -314px;
}
.like{
	
    background-position: -739px -100px;
}
ul li>a,ol li>a{
	font-size:14px;
	color:#676767;
	text-decoration:none;
	padding:0 10px;
}
ul li>a{
	font-family:'Gorgia','Italic';
}
ul li:nth-child(1),ol li:nth-child(1){
	text-decoration:underline;
}
ul,ol{
    padding: 11px 0;
	list-style-type:none;
	margin:20px 0;
}
.about-us,.T-shirts{
	 color:#0193e9;
}
.text h1{
	font-size:32px;
    color:#0193e9;
    text-align:center;
    padding:40px 2px 20px 2px;
}
.text p{

}
.baner{
    display:flex;
 
	max-width:694px;
	max-height:308px;
	border:2px solid #f5df39;
	margin:20px auto;
	font-size:14px;
    color:#696e71;
   
}
.stiker{
    width:20px;
    height:20px;
	background-image:url(../images/spritesheet.png);
	background-position:-316px -778px;
}
.stiker {
	font-weight:bold;
	padding:15px 0;
}
.price{
	display: flex;
	justify-content:center;
}
.price-bg{
	font-size:12px;
	font-weight:bold;
	color:#676767;
	
}
.little{
	display: flex;
	max-width:233px;
	max-height:97px;
	border:2px solid #0193e9;
	margin: 4px 2px;
	
}
.left p{
	display: flex;
	padding:10px 0;

}
.baner a{
	font-family:'Gorgia','Italic';
	font-size:14px;
	color:#0193e9;
}
.text{
   
}
.proposition{
	display:flex;
    justify-content:center;
    color:#000000;
    font-weight:bold;
    padding:40px 0 20px 0;
}
.discount{
	display:flex;
	justify-content:center;  
}
.discount a{
	padding:15px 10px;
}
.ukrainian{
	position:relative;
	left:74px;
	top:-36px;
}
.block{
	display: flex;
    flex-direction: column;
	font-size:14px;
    color:#696e71;
    margin:  auto;
}
.block span{
	font-size:14px;
	color:#0193e9;
	font-weight:bold;
}
.discount-bg{
	width:50px;
	height:50px;
	line-height:50px; 
	border-radius:50%;
	background:#f4e33b;
	text-decoration:none;
	font-weight:bold;
	color:#0193e9; 
}
.likes{
	margin-bottom:30px;
}
.action h2,.likes h2{
	font-size:22px;
    color:#0193e9;
    text-align:center;
}
.wrap h3{
	font-size:39px;
    color:#0193e9;
    text-align:center;
    padding:45px 0;
    
}
/*.css-adaptive {
display: block;
max-width: 100%;
height: auto;
}*/
h4{
	font-size:18px;
    color:#0193e9;
    text-align:center;
}
.action{
	padding:20px 0;
	margin: 0 auto;
}
.znyzhka{
	font-size:77px;
	color:#f2de36;
	font-weight:bold;
	padding:45px 0;
}
.photo img,.middle img{
	margin:30px auto;
}
.basket_bg{
	width:30px;
    height:30px;
	background-image:url(../images/spritesheet.png);
	background-position:-97px -527px;
}
.service{
    display: flex;
    justify-content:center;
    margin:0 auto;
}
/*.row{
	display: flex;
	
}*/
.nav ul,.nav_bg ol{
	display:inline-block;	
}
.disc{
	max-width:80px;
	max-height:135px;
}
.service_disc{
	width:65px;
	height:65px;
	border-radius:50%;
	background:#0193e9;
} 
.service_sprite,.service_sprite2,.service_sprite3{
    width:60px;
    height:60px;
	background-image:url(../images/spritesheet.png);
}
.service_sprite{
	background-position:-305px -518px;
}
.service_sprite2{
    background-position:-538px -519px;
}
.service_sprite3{
    background-position:-950px -91px;
}
.service_bg{
	max-width:220px;
	max-height:135px;
}
.service_bg p{
    font-size:14px;
	color:#676767;
	padding:5px 0;
}
.service_bg p:nth-child(2){
    font-size:12px;
	color:#676767;
	font-weight:bold;
}
.service_bg a{
    font-size:14px;
	color:#0193e9;
	padding:0 0 30px 0;
}
.font{
	font-family:'Gorgia','Italic';
}
.new-section{
	font-family:'Gorgia','Italic';
	font-size:12px;
	color:#0193e9;
}
.photo{
	display:flex;
	flex-wrap:wrap;
	background: green;
}
.item{
	font-size:14px;
    color:#696e71;
    text-align:center;
	padding:20px 0;
}
.item p,.price{
	font-weight:bold;
}
.item>.discount-bg{
	position: relative;
	right:-444px;
}
.photo span {
	font-size:14px;
	color:#0193e9;
	font-weight:bold;
}
.order{
	font-family:'Gorgia','Italic'; 
	font-size:12px;
	color:#0193e9;
}
.friend{
	
}

.more{
	font-family:'Gorgia','Italic';
	font-size:22px;
	color:#0193e9;
	text-decoration:none;
    border-bottom: 1px dashed #0193e9;
}
.middle{
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	background:yellow;
}
.container{
	display:flex;
	flex-wrap:wrap;
	background:violet;
}
.wrap{
	display: flex;


}
.wrap_bg{
	

}
.news{
	display: flex;
	flex-direction:column;
	margin: 20px 0;
}
.face{
	display: flex;
	max-height:102px;
	max-height: 80px;
}
.face_lg{
	display: flex;
	flex-direction:column;

}
.middle p{
	font-size:14px;
	color:#696e71;
	font-weight:bold;
}
.button{
	width:100px;
	height:30px;
	line-height:30px;
	border-radius:20px;
	background:#fae851;
	margin:0 auto;
	text-decoration:none;
}
.button a{
	font-size:14px;
	color:#70653f;
	font-weight:bold;
	text-decoration:none;
	display: flex;
	justify-content:center;
}

.discount2{
	width:200px;
	height: 80px;
}
.news,.reviews{
	max-width: 460px;
	display: flex;
}
.reviews{

}
.news h5{
	font-size:14px;
    color:#0193e9;
    text-align:center;
}
.wrap a{
    font-size:12px;
    color:#0193e9;
    text-align:center;
    padding-bottom:22px; 
   
}
.wrap_bg p{
    font-size:12px;
    color:#676767;
    text-align:center;
    padding:12px 0 10px 0;
}
.face p{
	font-size:12px;
    color:#676767;
    text-align:center;
    padding:8px 0 3px 0;
}
.face h5{
	font-size:14px;
    color:#000;
    text-align:center;
    padding:3px 0;
   
}
time{
    font-size:12px;
    color:#676767;
    text-align:center;
    padding-top: 20px;
}
.face_bg img{
	margin:0 auto;
}
.goods{
	
}
.menu a{
    font-size:12px;
    color:#0193e9;
    text-align:center;
}
.menu p{
	padding:15px 60px;
}
h6{
	font-size:14px;
    color:#676767;
    font-weight:bold;
}
.social1{
    width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #fae851;
	margin:20px;
	background-image:url(../images/spritesheet.png);
}
.ikon{
	display: flex;
	align-items:center;
	padding:25px 0px ;
	
}
.ikon a{
	display: flex;
    justify-content:center;
    padding:0px 30px;
    font-size:12px;
	color:#0193e9;
	
}
.telefon a{
	font-size:20px;
	font-weight:bold;
    color:#676767;
    padding:11px;
    text-align:center;
}
.city{
	font-size:11px; 
	color:#cdcdcd;
}
footer{
	height: 45px;
	line-height:45px;
	font-size:12px; 
	color:#FFFFFF;
	text-align:center;
	background:#0085e3; 
}
