*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-family:'Gorgia','Italic',Arial,sans-serif;
}
.wrapper{
        padding:5px 10px 0 10px;
        text-align: center;
        box-shadow:inset 0 5px #fae851;
}
.diamond{
        width: 8px;
        height: 8px;
        margin: 5px auto;
        background:#fae851;
        transform: rotate(45deg);
        position: relative;
        top: -9px;
}
.btn{
        width:115px;
	height:30px;
	line-height:30px;
	border-radius:15px; 
	background:#fae851;
	text-decoration:none;
	margin: 20px 8px;
}
.creative{
	display: flex;
	justify-content:center;
}
.sprite{
	display: flex;
	justify-content:center;
	margin: 0 20px;
}
.pen,.money{
        font-size:14px;
	color:#433939;
	font-weight:bold;

}
.pen{
	width: 20px;
        height: 20px;
        padding: 0px 20px;
	background-image:url(../images/spritesheet.png);
	background-position: -963px -335px;
}
.money{
	width: 20px;
        height: 20px;
        padding: 0 20px;
        background-image:url(../images/spritesheet.png);
        background-position: -783px -551px;
}
.social{
        width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #0193e9;
	margin: 20px 8px;
	
}
.social,.social1{
	display: flex;

}
.vk,.od,.fb{
	width: 20px;
        height: 20px;  
        background-image:url(../images/spritesheet.png);
}
.vk{
	background-position: -736px -766px;
    
}
.od{
	background-position:-995px -552px;
}
.fb{
	
	background-position: -522px -94px;
}
.contakt{
	display: inline-flex;
}
.ikon{
	display: flex;
	align-items:center;
	justify-content:center;	
}
.ikon a{
	display: flex;
        justify-content:center;
        font-size:12px;
	color:#0193e9;
	padding:20px 5px;
	
}
.skype,.icq,.email,.call-me-back{
        width:20px;
        height:20px;
    
	background-image:url(../images/spritesheet.png);
}
.skype{
        background-position: -100px -772px;
}
.icq{
        background-position: -532px -314px;
}
.email{
        background-position: -100px -100px;    
}
.call-me-back{
	background-position: -534px -772px;
}
.account{

}
.account p{
	font-size:12px;
        color:#676767;
        padding:10px 10px;
}
.account p>a{
	font-size:12px;
        color:#0193e9;
        padding:0 5px;
}
.kyivstar{
	text-decoration:none;
        border-bottom: 1px dashed #0193e9;
}
.logo h1>span{
	font-size:67px;
	font-weight:bold;
}
.logo span{
	font-size:12px;
	/*color:#676767;*/
	padding:10px;
}
.account,.logo,.buy{
	padding:36px 0; 
}
.design{
        color:#0193e9; 
}
.design_bg{
        color:#f4cf23;   
}
.border{
	width:55px;
	border-bottom:2px solid #000000;
	margin:0 auto; 
}
.buy_bk a,.buy_lk a{
	display:flex;
	font-size:12px;
        color:#0193e9;
}
.buy_bk,.buy_lk{
	padding: 8px 0;
}

.basket,.like{
        width:20px;
        height:20px;
        margin:0 auto;
	background-image:url(../images/spritesheet.png);
}
.basket{
        background-position: -748px -314px;
}
.like{
        background-position: -739px -100px;
}

ul li>a,ol li>a{
	font-size:14px;
	color:#676767;
	text-decoration:none;
	padding:0 10px;
}
ul li>a{
	font-family:'Gorgia','Italic';
}
ol li>a{
	font-weight:bold;
}
ul,ol{

    padding: 11px 0;
	list-style-type:none;
}
li a{
	display:inline-flex;
}
li a:hover{
	cursor: pointer;
	color:#0193e9;
	text-decoration:underline;
}
.text h1{
	font-size:32px;
        color:#0193e9;
        text-align:center;
        padding:40px 2px 20px 2px;
}
.container_lf{
        display:flex;
	max-width:694px;
	max-height:308px;
	border:2px solid #f5df39;
	margin:20px auto;
	font-size:14px;
        color:#696e71;
}
.price,.proposition,.discount,.buy_bk,.buy_lk{
	display: flex;
	justify-content:center;
}
.stiker{
        width:20px;
        height:20px;
	background-image:url(../images/spritesheet.png);
	background-position:-316px -778px;
}
.stiker {
	font-weight:bold;
	padding:15px 0;
}

.price-cg{
	font-size:12px;
	font-weight:bold;
	color:#676767;
	
}
.wrap_rt{
	display: flex;
	max-width:233px;
	max-height:96px;
	border:2px solid #0193e9;
	margin-bottom: 6px;
	
}
.proposition{
        color:#000000;
        font-weight:bold;
        padding:40px 0 20px 0;
}

.discount a{
	font-family:'Gorgia','Italic';
	font-size:14px;
	color:#0193e9;
	padding:15px 10px;
}
.ukrainian{
	position:relative;
	left:74px;
	top:-36px;
}
.container_rt{
	font-size:14px;
        color:#696e71;
}
.container_rt span{
	font-size:14px;
	color:#0193e9;
	font-weight:bold;
}
.container_rt{
        display: flex;
        justify-content: center; 
}
.discount-cg{
	width:50px;
	height:50px;
	line-height:50px; 
	border-radius:50%;
	background:#f4e33b;
	text-decoration:none;
	font-weight:bold;
	color:#0193e9; 
}
.likes{
	margin:30px 0;
}
.wrap_at h2,.likes h2{
	font-size:22px;
        color:#0193e9;
        text-align:center;
}
.wrap_act h3{
	font-size:39px;
        color:#0193e9;
        text-align:center;
        padding:45px 0;   
}
.wrap_at h3{
	font-size:45px;
        color:#0193e9;
        text-align:center;
}
.wrap h4{
	font-size:18px;
        color:#0193e9;
        text-align:center;
}
.action{
	padding:40px 0;
	margin: 0 auto;
}
.znyzhka{
	font-size:77px;
	color:#f2de36;
	font-weight:bold;
	padding:45px 0;
}
.catalog img{
	margin:30px auto;
}
.basket_cg{
	width:30px;
    height:30px;
	background-image:url(../images/spritesheet.png);
	background-position:-97px -527px;
}
.disc{
	display:flex;
	align-items:center;
	max-width:80px;
	max-height:135px;
}
.service_disc{
	width:65px;
	height:65px;
	border-radius:50%;
	background:#0193e9;
	margin-bottom: 50px;
} 
.service_sprite,.service_sprite2,.service_sprite3{
        width:60px;
        height:60px;
	background-image:url(../images/spritesheet.png);
}
.service_sprite{
	background-position:-305px -518px;
}
.service_sprite2{
        background-position:-538px -519px;
}
.service_sprite3{
        background-position:-950px -91px;
}
.service{
	display: flex;
	justify-content: center;
}
.service_bg{
	max-width:220px;
	max-height:135px;
	padding:10px 10px;
}
.service_bg p{
        font-size:14px;
	color:#676767;
	padding:5px 0;
}
.service_bg p:nth-child(2){
        font-size:12px;
	color:#676767;
	font-weight:bold;
}
.service_bg a{
        font-size:14px;
	color:#0193e9;
	padding:0 0 0px 0;
}
.font{
	font-family:'Gorgia','Italic';
}
.new-section{
	font-family:'Gorgia','Italic';
	font-size:12px;
	color:#0193e9;
	margin: 0 auto;
}
.item{
	font-size:14px;
        color:#696e71;
        text-align:center;
	padding:20px 0;
}
.item p,.price,.item_2 p{
	font-weight:bold;
}
.discount_cg{
	width:50px;
	height:50px;
	line-height:50px; 
	border-radius:50%;
	background:#f4e33b;
	text-decoration:none;
	font-weight:bold;
	color:#0193e9; 
	position:absolute;
	right:370px;
	z-index: 5;
}
.item_2{
	font-size:14px;
        color:#696e71;
        text-align:center;
	padding:20px 0;
	position:relative;
	z-index: 1;
}
.catalog span {
	font-size:14px;
	color:#0193e9;
	font-weight:bold;
}
.order{
	font-family:'Gorgia','Italic'; 
	font-size:12px;
	color:#0193e9;
}
.more{
	font-family:'Gorgia','Italic';
	font-size:22px;
	color:#0193e9;
	text-decoration:none;
        border-bottom: 1px dashed #0193e9;
}
.button{
	width:100px;
	height:30px;
	line-height:30px;
	border-radius:20px;
	background:#fae851;
	margin:0 auto;
	text-decoration:none;
}
.button a{
	font-size:14px;
	color:#70653f;
	font-weight:bold;
	text-decoration:none;
	display: flex;
	justify-content:center;
}
.discount2{
	width:200px;
	height: 80px;
}
.wrap{
	display: flex;
	justify-content:space-between;	
}
.wrap{
	max-width: 460px;
	
}
.wrap_text{
	display: flex;
	justify-content: center;
}
.wrap_reviews{

}
.reviews{
    display: flex;
    
}
.news{
    max-width: 460px;
    margin: 10px auto;			
}
.news h5{
	font-size:14px;
        color:#0193e9;
        text-align:center;
}
.wrap a{
       font-size:12px;
       color:#0193e9;
       text-align:center;
       padding-bottom:22px; 
   
}
.wrap_bg p{
       font-size:12px;
       color:#676767;
       text-align:center;
       padding:12px 0 10px 0;
}
.face_lg p{
       font-size:12px;
       color:#676767;
       text-align:center;
       padding:8px 0 3px 0;
}
.face_lg h5{
       font-size:14px;
       color:#000;
       text-align:center;
       padding:3px 0;
   
}
time{
       font-size:12px;
       color:#676767;
       text-align:center;
       padding: 20px 0;
}
.face_bg img{
       margin:0 auto;
}
.menu a{
       font-size:12px;
       color:#0193e9;
       text-align:center;
}
.menu p{
	padding:15px 0px;
}
h6{
	font-size:14px;
        color:#676767;
        font-weight:bold;
}
.social1{
    width:30px;
	height:30px;
	border-radius:50%;
	border:1px solid #fae851;
	background-image:url(../images/spritesheet.png);
}
.vk1,.od1,.fb1{
	width: 20px;
        height: 20px;  
        background-image:url(../images/spritesheet.png);
}
.vk1{
	background-position: -736px -766px;
    
}
.od1{
	background-position:-995px -552px;
}
.fb1{
	
	background-position: -522px -94px;
}
.telefon a{
	font-size:20px;
	font-weight:bold;
        color:#676767;
        padding:11px;
        text-align:center;
}
.city{
	font-size:11px; 
	color:#cdcdcd;
}
footer{
	height: 45px;
	line-height:45px;
	font-size:12px; 
	color:#FFFFFF;
	text-align:center;
	background:#0085e3; 
}
.css-adaptive {
        display: block;
        max-width: 100%;
        height: auto;
}
@media screen and (min-width:980px){
	.col-3-4{
		width: calc(100% / 12 * 9 - 30px);
	}
	.col-1-4{
		width: calc(100% / 12 * 3 - 30px);
	}
	.col-1-6{
		width: calc(100% / 12 * 2 - 30px);
	}
	.col-1-2{
		width: calc(100% / 12 * 6 - 30px);
	}
	.col-1-3{
		width: calc(100% / 12 * 4 - 30px);
	}
	.sprite{
		justify-content:center;
		padding:0 0 0 85px;
	}
	.sprite1{
		display: flex;
	}
	.contact1{
	    display:flex;
	    flex-wrap:wrap;
	}
	.logo{
		padding:30px 50px 0 0;
	}
	ul,ol{
	     display:flex;
	     justify-content:center;
	}
	.container_rt{
		display:flex;
		flex-direction:column;
		
	}
	.catalog{
		display:flex;
		flex-wrap:wrap;
	}
	.discount_cg{
		position: absolute;
        right: 20px;
        z-index: 5;
	}
	.item:hover,.item2:hover{
		cursor: pointer;
		outline:2px solid #0193e9;
	}
	.wrap_act{
	     display:flex;
	     justify-content:center;
	}
	.wrap_bg{
		padding: 10px 0;
	}
    .container_news{
    	display: flex;
    	justify-content:space-between;
    }
    .goods{
	 display: flex;
	 margin: 30px 0;
    }
    .ikon{
    	 display: flex;
    	 flex-direction:column;
    }
    .telefon{
    	padding: 0 20px;
    }
    .row{
    	display: flex;
    	justify-content:space-between;}
    }
