*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
img{
	display:block;
}
body{
	font-family:'Montserrat',sans-serif;
	display: flex;
	flex-direction:column;
	justify-content: center;
}
.page-wrapper{
	width:760px;
	min-height:100vh;
	background-color:#d1d1d1;
	padding: 57px 58px 110px 58px;
	margin: 0 auto;
}
.header{
	height: 150px;
	background-image: url(../images/header_bg.gif);
	background-size: cover;

}
.wrapper{
	padding: 30px 50px;
	background-color: #fff;
}
.aling-center{
	display: block;
	text-align:center;
}
.text-bold{
	font-weight: bold;
}
.text{
	overflow: hidden;
}
.text >p{
padding-top: 30px;

}
.row{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;

}
.offer_1_2{
width: 255px;
min-height: 355px;
}
.offer_1_3{
width:160px;
min-height: 337px;
}
.offer_img{
	height: 213px;
	background-size: cover;
}
.offer-bg1{
	background-image:url(images/i1.png);

}
.offer-bg2{
	background-image:url(images/i2.png);
}

.offer-bg3{
	background-image:url(images/i3.png);
}

.offer-bg4{
	background-image:url(images/i4.png);
}

.offer-bg5{
	background-image:url(images/i5.png);
}
.uppercase{
	text-transform: uppercase;
}
.btn{
	display: block;
	height: 40px;
	text-align:center;
	line-height: 40px;
	border-radius:5px;
	background-color:#cf5b4e;
    font-weight: bold;
    color:#FFF;
    text-decoration: none;
   
}
.text-italic{
	font-style: italic;
}
.msg{
     position: relative;
     bottom: -100px;
     font-size: 14px;
     text-align: center;
     color: #FFF;
}
.msg>a{
	color:#FFF;
	text-align: center;
}




/*.div{
	width:30px;
	height:30px;
	background-color:#000;
	transform: rotate(45 deg);
}*/