body{
	background:#b9cef4 ;
	
}
ul{
	margin:0;
	padding-left:0;
	list-style-type:none;
}
a{
	text-decoration: none;
	color:#070707;
}
ul#menu{
	display:flex;
	width:100%;
	text-align:center;
	margin-bottom:40px;
}
li{
	width:calc(25% - 2px);
        height:40px;
        font-family: Georgia, serif;
        font-size:20px;
        text-align:center;
        padding-top: 20px;
	border: 1px solid #D5D5D5;
	background:#099c47;
}
li:hover{
	cursor: pointer;
	background:#0fb737;
}
#cont {
	width:900px; 
	margin: 0 auto;
}
img.foto{
	display:block;
	margin:5px 30px 30px 0;
}
	
