*{
	padding:0;
	margin:0;
}
body{
	background:#c5bbc5; }
h1{
	text-align:center;
	padding-top: 40px;
        padding-bottom: 40px;
        color:#2d2b2d;
}
.btn_r,.btn_g,.btn_l {
	display:inline-block;
	width:200px;
	height:20px;
	border:2px solid:#0c0c0c;
	text-align:center;
	background-color:#f85af2;
	padding: 10px;
        margin: 30px;
        text-decoration: none;
        color:#0c0c0c;
        border-radius:20px;
}
	
.btn_r:hover,.btn_g:hover,btn_l{
	outline: 2px solid #000;
	cursor: pointer;
}

