/*
* Background Images - Practice
* CSS Styles
*
*/
*{
	margin: 0;
	padding: 0;
}
body{
	 background:#626060 url(../img/bg.png);
	 
}

/* General */


/* Header */
header{
	background:url(../img/bg-01.jpg)  no-repeat;
	height:650px;
	background-size: cover;
}
#topbar {
	width: 100%;
	height: 50px;
        background-color: rgba(0,0,0,0.5);
	}

.menu li{
	display:inline-block;
	width:80px;
	height:50px;
        position:relative;
	right:252px;
	line-height:50px;

}
.menu li:first-child {
	background:#f62751;
}
.menu a{
	font-family: 'Open Sans';
	text-decoration: none;
	color:#FFFFFF;
}

h1 {
	font-family: 'Metal Mania',cursive;
	font-size:90px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 200px;
	padding-bottom: 80px;

}
.button {
	border: 1px solid #f62751;
	background:#f62751;
	font-family:'Open Sans' ;
        font-size: 16px;
        color:#FFFFFF;
        text-decoration: none;
}
.button {
	width:290px;
	height:55px;
    border: 1px solid #f62751;
	background:#f62751;
	font-family:'Open Sans';
        font-size: 16px;
        color:#FFFFFF;
        text-decoration: none;
        padding: 16px 66px;
}


/* Tour */
.container{
	display: inline-block;
	width: 100%;
	height: auto;
        text-align: center;
	margin: 0 auto;
}

.tour-card>p{
 	text-align: center;
	font-family:'Open Sans' ;
	font-size:16px;
	color:#ffffff;
	padding-bottom: 10px;
 }
#tour{
	width: 840px;
	height: 225px;
	margin: 0  auto;
}

.tour-card{
	display: inline-block;
}

.madrid{
	width: 200px;
	height: 200px;
	background-image: url(../img/tour/madrid.jpg);
        margin-right:5px;
}
.turin{
	width: 200px;
	height: 200px;
	background-image: url(../img/tour/turin.jpg);
        margin-right:5px;

}
.hamburg{
	width: 200px;
	height: 200px;
	background-image: url(../img/tour/hamburg.jpg);
	margin-right:5px;
}
.krakow{
        width: 200px;
	height: 200px;
	background-image: url(../img/tour/krakow.jpg);
        margin-right:5px;

}      
h3{
	font-family:'Open Sans' ;
	font-size:18px;
	color:#ffffff;
	padding: 10px 0;
}

.tour-card>.button{
	width:145px;
	height:35px;
	line-height: 35px;
        border: 1px solid #f62751;
	background:#f62751;
	font-family:'Open Sans' ;
        font-size: 16px;
        color:#FFFFFF;
        text-decoration: none;
        padding: 10px

}


/* Gallery */

#gallery{
	width:840px;
	height:600px;
        margin: 100px auto;
}

h2{
	text-align: center;
	font-family:'Open Sans' ;
	font-size:25px;
	color:#ffffff;
	margin: 50px auto;
}
img{
	width: 260px;
	height:250px; 
}
.photo{
	display: inline-block;
	width: 260px;
	height:250px; 
	margin-right:10px ;
	margin-bottom:10px;
}

/* Subscribe */
#subscribe {
	height:419px;
	background-image:url(../img/bg-02.jpg);
	background-size: cover;
	margin-bottom: 25px;
}
.pitch{
	width: 840px;
	height: auto;
	text-align: center;
	margin: 70px auto 20px auto;
}
.pitch>p{
	font-family: 'Open Sans';
	font-weight:normal;
	color:#FFFFFF;
}
#subscribe-button{
        width:125px;
	height:55px;
        border: 1px solid #f62751;
	background:#f62751;
	font-family:'Open Sans' ;
        font-size: 16px;
        color:#FFFFFF;
        text-decoration: none;
}
input{
	width:212px;
	height:36px;
}
form>button{
	width:126px;
	height:40px;
	border: 1px solid #f62751;
	background:#f62751;
	font-family:'Open Sans';
	color:#FFFFFF; 
}
/* Footer */
.social a{
	text-align: center;
	color:#FFFFFF;
        font-size: 16px;
        padding: 0px 10px;
}
.copyright{
        text-align: center;
        font-family: 'Open Sans';
        font-size: 14px;
        margin-top: 20px;
        color:#FFFFFF;
}

